
body{
  background-color: aqua;
}
  h1{
    color:purple;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    text-shadow: 6px 6px #90f119;
    margin-bottom:20px

  }
  

  p{
    color:#8f079c;
    
    font-size:60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    text-shadow: 2px 2px #ef520f;

  }
  img{
    display:block;
    max-width:50%;
    max-height:50%;
    margin-left:auto;
    margin-right:auto;
  }


